.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
bin
build
out
*.iml
*.ipr
*.iws
test-output
Scratch.java
ScratchTest.java
test-results
test-tmp
*.class
mods
classes
*/build
*/src/main/resources/public/dist
*/src/main/resources/public/temp
*/src/main/resources/public/js
*/src/main/resources/public/template/entcore
*/src/main/resources/view/
*/rev-manifest.json
*/out
/coverage/front/cobertura-coverage.xml
node_modules
package-lock.json
/src/main/resources/public/css/
/yarn.lock
.env
target
dependency-reduced-pom.xml