<h2><i18n>user.profile</i18n></h2><br />
<div ng-if="!userInfo.isMe() && !userInfo.isAMail() && !userInfo.isAGroup()">
	<strong>Type<span> : </span></strong><i18n>internal</i18n><br /><br />
	<strong><span translate key="name"></span><span> : </span></strong>
	[[userInfo.displayName]]
	<br /><br />
	<button type="button" class="cancel right-magnet" ng-click="goToExternal('/userbook/annuaire#'+[[userInfo.id]])">
		<i18n>complete.profile</i18n></button>
</div>
<span ng-if="userInfo.isMe()">
	<strong>Type<span> : </span></strong><i18n>internal</i18n><br /><br />
	<strong><span translate key="name"></span><span> : </span></strong>
	[[userInfo.displayName]]<br /><br />
	<button type="button" class="cancel right-magnet" ng-click="goToExternal('/userbook/mon-compte')">
	<i18n>complete.profile</i18n></button>
</span>
<span ng-if="userInfo.isAMail()">
	<strong>Type<span> : </span></strong><i18n>external</i18n><br /><br />
	<strong><span translate key="name"></span><span> : </span></strong>
	[[userInfo.displayName]]<br /><br />
	<strong><span translate key="email"></span>
	<span> : </span></strong>[[userInfo.id]]<br /><br />
</span>
<span ng-if="!userInfo.isAMail() && userInfo.isAGroup()">
	<strong>Type<span> : </span></strong><i18n>internal</i18n><br /><br />
	<strong><span translate key="name"></span><span> : </span></strong>
	[[userInfo.displayName]]<br /><br />
</span>