<div class="bottom-spacing" ng-hide="(!isLoading() && zimbra.currentFolder.mails.all.length === 0) || isLoading()">
    <div class="mobile-fat-mobile">
        <h3 whereami></h3>
        <nav class="twelve bottom-spacing-twice">
            <div class="">
                <switch-search
                        ng-model="searchField.words"
                        ng-change="search(words)"
                        cancel="cancelSearch()">
                    <button class="cell-ellipsis aligned right-magnet" ng-click="template.open('right-side', 'mail-actions/write-mail')">
                        <i18n>new.message</i18n>
                    </button>
                </switch-search>
            </div>
        </nav>
    </div>
    <div class=" bottom-spacing-twice twelve cell zero-mobile-fat-mobile">
        <div class="aligned " >
            <label class="chip aligned "
                   tooltip="filter.unread"
                   ng-if="zimbra.currentFolder.nbUnread > 0 || ( state.filterUnread && showRightSide())"
                   ng-class="{ selected: state.filterUnread }">
                <i class="mail"></i>
                <span ng-model="zimbra.currentFolder.nbUnread">([[zimbra.currentFolder.nbUnread]])</span>
                <input type="checkbox" ng-model="state.filterUnread" ng-change="filterUnread()" />
            </label>

            <div class="aligned Choice-chip" ng-if="getFolder() !== 'draft'">
                <label class="chip aligned bottom-spacing"
                       ng-class="{ selected: preference.isList() }"
                       tooltip="filter.list"
                       ng-if="zimbra.currentFolder.mails.all.length > 0"
                       ng-click="switchViewMode('LIST')">
                    <i class="show-row" ></i>

                </label>
                <label  class="chip aligned bottom-spacing"
                        ng-class="{ selected: preference.isColumn() }"
                        tooltip="filter.row"
                        ng-if="zimbra.currentFolder.mails.all.length > 0"
                        ng-click="switchViewMode('COLUMN')">
                    <i class="show-column" ></i>
                </label>
            </div>
        </div>

        <div class="aligned "
             ng-if="zimbra.currentFolder.folderName == 'trash' && ( folders.trash.userFolders.all.length > 0 || zimbra.currentFolder.mails.all.length > 0  || state.searching)">
            <label class="aligned">
                <a href="#" class="cell margin-top-10 flex-row align-center justify-start small-text zero-mobile" ng-click="emptyTrash()">
                    <i class="trash horizontal-spacing"></i>
                    <i18n class="bottom-border">empty.trash</i18n>
                </a>
            </label>
        </div>



        <span ng-if="getFolder() !== 'trash' && showRightSide()">
            <plus id="mailOptions" class="right-magnet"  ng-click="displayMailOptions()">
                <button ng-click="reply(true)" ng-disabled="!mail.allowReply" ng-if="getFolder() == 'outbox'" ><i18n>reply</i18n></button>
                <button ng-click="replyAll()" ng-disabled="!mail.allowReplyAll"><i18n>replyall</i18n></button>

                <button ng-click="transfer()" ng-if="getFolder() !== 'outbox'" ><i18n>transfer</i18n></button>
                <a class="button"   target="_blank" ng-href="/zimbra/print#/printMail/[[mail.id]]"><i18n>print</i18n></a>
                <button ng-click="removeMail()"><i18n>remove</i18n></button>
            </plus>

            <!-- Reply not allowed if deleted user -->
            <button class="right-magnet" ng-click="reply()" ng-disabled="!mail.allowReply" ng-if="showRightSide() && getFolder() !== 'outbox'">
                <i18n>reply</i18n>
            </button>
            <button class="right-magnet" ng-click="transfer()" class="right-magnet" ng-if="showRightSide() && getFolder() == 'outbox'">
                <i18n>transfer</i18n>
            </button>
        </span>
        <span ng-if="getFolder() === 'trash' && showRightSide()">
            <plus class="right-magnet">
                <a class="button"   target="_blank" ng-href="/zimbra/print#/printMail/[[mail.id]]"><i18n>print</i18n></a>
                <button ng-click="mail.remove(); openFolder()"><i18n>remove</i18n></button>
            </plus>
            <button ng-click="mail.restore(); openFolder('trash')" class="right-magnet"><i18n>restore</i18n></button>
        </span>
        <button class="cell-ellipsis horizontal-margin right-magnet" ng-click="template.open('right-side', 'mail-actions/write-mail')">
            <i18n>new.message</i18n>
        </button>
    </div>

</div>

<button class="cell-ellipsis horizontal-margin right-magnet" ng-click="template.open('right-side', 'mail-actions/write-mail')" ng-if="(!isLoading() && zimbra.currentFolder.mails.all.length === 0)">
    <i18n>new.message</i18n>
</button>