<div class="twelve cell zero-mobile-fat-mobile" ng-hide="isLoading()"  >
    <container template="header" >

    </container>
    <container ng-class="{'four cell': showRightSide() }" template="main-right-side">

    </container>
    <div  class="eight cell horizontal-spacing"  ng-if="showRightSide()" >
        <container  template="right-view-mail">

        </container>
    </div>

</div>
<div class="mobile-fat-mobile" ng-hide="isLoading()" >
    <container template="header">
    </container>
    <container template="main-right-side">
    </container>
</div>

<folder-loader
        display="isLoading()"
        folder-name="zimbra.currentFolder.folderName" >
</folder-loader>

<lightbox show="displayLightBox.folder" on-close="displayLightBox.folder = false">
    <container template="folder-lightbox"></container>
</lightbox>