<div class="row">
    <article class="twelve cell vertical-spacing">
        <div class="info" workflow="zimbra.outsideCommunication"><i18n>zimbra.message.outside.accessible</i18n></div>
        <label class="row">
            <input type="checkbox" ng-model="preference.modeExpert" ng-change="saveModeExpert(preference)" class="cell one" />
            <span class="cell"><i18n>zimbra.expert.mode.activation</i18n> </span>
        </label>
        <div class="annex-info vertical-spacing"><i18n>zimbra.expert.mode.activation.comment</i18n></div>
    </article>
</div>